<img class="shape1" src="../../assets/shape1.png" width="303" alt="shape">
<img class="shape2" src="../../assets/shape1.png" width="303" alt="shape">
<img class="shape3" src="../../assets/shape2.png" width="258" alt="shape">
<img class="shape4" src="../../assets/shape2.png" width="258" alt="shape">
<img class="shape5" src="../../assets/shape3.png" width="316" alt="shape">
<div class="glass-wrapper">
    <div class="glass"></div>
    <div class="glass"></div>
    <div class="glass"></div>
    <div class="glass"></div>
    <div class="glass"></div>
    <div class="glass"></div>
    <div class="glass"></div>
    <div class="glass"></div>
    <div class="glass"></div>
    <div class="glass"></div>
</div>