@use 'colors';
@use 'mixins';
@use 'fonts';

i {
    font-size: fonts.$icons-small;
    height: fonts.$icons-small;
    @include mixins.brandLightHover;
}

.line-break {
    border: 0;
    border-radius: 5px;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        align-items: center;

        .title {
            margin-right: 8px;
        }
    }
}

.list {
    height: 675px;
    overflow: hidden;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }

    .list-item {
        position: relative;
        .item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
    
            .item-link {
                @include mixins.brandLightHover;
            }
        }
    }
}