@use 'colors';
@use 'mixins';
@use 'fonts';

:host {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    background-color: #005977;
    border-radius: 10px;

    .account {
        display: flex;
        flex-direction: column;
        word-break: break-word;

        .username {
            width: max-content;
            font-weight: 500;
            @include mixins.brandLightHover();
        }
    }

    i {
        font-size: fonts.$icons-small;
        line-height: fonts.$icons-small;
        @include mixins.brandLightHover();
    }
}