@use "colors";
@use "fonts";
@use "mixins";

.wrapper {
  margin-top: 8px;
  opacity: 0;
  height: 0;
  visibility: hidden;
  display: block;
  transition: 300ms;

  .wrapper-content {
    width: calc(100% - 128px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
    background-color: colors.$navbarColor;
    backdrop-filter: blur(33px);
    border-radius: 16px;
    transition: 300ms;

    &:hover {
      background-color: colors.$navbarColorHover;
    }

    .logo-link {
      display: flex;

      img {
        width: 25px;
        height: 25px;
      }
    }

    .links-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 16px;
      margin-bottom: 32px;

      .link {
        text-decoration: none;
        color: white;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          color: colors.$brandLightColor;
        }
      }
    }

    i {
      display: flex;
      align-items: center;
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .primary-btn {
        @include fonts.text-base();
        color: white;
        border: 2px solid colors.$brandBlueColor;
        border-radius: 5px;
        transition: 0.3s;
        padding: 2px 32px;

        background-color: colors.$brandBlueColor;
        font-weight: 500;

        &:hover {
          background-color: colors.$brandLightColor;
          border: 2px solid colors.$brandLightColor;
        }
      }

      .secondary-btn {
        @include fonts.text-base();
        color: white;
        border: 2px solid colors.$brandBlueColor;
        border-radius: 5px;
        transition: 0.3s;
        padding: 2px 32px;

        background-color: transparent;
        font-weight: 500;

        &:hover {
          background-color: colors.$brandBlueColorMedium;
          border: 2px solid colors.$brandLightColor;
        }
      }
    }
  }
}

@include mixins.breakpoints(breakpoint-s) {
  .wrapper .wrapper-content .actions {
    flex-direction: row;
    gap: 16px;
  }
}
