<div class="wrapper">
  <div class="wrapper-content">
    <div class="links-wrapper">
      <a class="link" href="/welcome#home" (click)="closeMobileMenu()">Home</a>
      <a class="link" href="/welcome#about" (click)="closeMobileMenu()">About</a>
      <a class="link" href="/welcome#how-it-works" (click)="closeMobileMenu()">How it works</a>
      <a class="link" href="/welcome#contact" (click)="closeMobileMenu()">Contact</a>
    </div>
    <!-- <div class="actions">
        <ng-container *ngIf="!loggedIn(); else loggedInButtons">
            <button class="secondary-btn" [routerLink]="['/login']">Login</button>
            <button class="primary-btn" [routerLink]="['/register']">Register</button>
        </ng-container>
        <ng-template #loggedInButtons>
            <button class="secondary-btn" (click)="logout()">Logout</button>
            <button class="primary-btn" [routerLink]="['/profile']">Profile</button>
        </ng-template>
    </div> -->
  </div>
</div>
