// Brand Colors
$backgroundMasterColor: #1e1e1e;
$brandBlueColor: rgb(0, 126, 167);
$brandBlueColorMedium: rgba(0, 126, 167, 0.5);
$brandLightColor: #54a9c4;

// Birthday Reminder
$reminderColor: rgba(48, 48, 48, 0.44);
$reminderColorHover: rgb(48, 48, 48);
$reminderColorSecondary: rgba(64, 64, 64, .63);
$reminderColorSecondaryHover: rgb(64, 64, 64);

// Birthday Reminder Block Active Text
$birthdayReminderLightGrey: #6D6D6D;

