@mixin brandLightHover {
    &:hover{
        color: $brandLightColor;
        transition: 0.3s;
        cursor: pointer;
    }
}

@mixin basicForm {
    .form-container {
        width: 600px;

        .invalid-field {
            border: 1px solid red;
        }
        
        .error {
            margin-top: 0.5rem;
            font-size: 0.8rem;
            color: #a94442;
        }
        
        input, textarea, select {
            width: 100%;
            background-color: $backgroundMasterColor;
            color: white;
            border: 2px solid $inputsBorderFocus;
            transition: 0.3s;
            box-sizing: border-box;
        
            &:focus {
                background-color: $backgroundMasterColor;
                border: 2px solid $brandLightColor;
                color: white;
                box-shadow: none;
            }
        }
        
        .form-btn {
            width: 100%;
            color: white;
            border: 2px solid $brandBlueColor;
            border-radius: 5px;
            transition: 0.3s;
        }
        
        .back-btn {
            background-color: transparent;
            font-weight: 500;
        
            &:hover {
                background-color: $brandBlueColorMedium;
                border: 2px solid $brandLightColor;
            }
        }
        
        .create-btn {
            background-color: $brandBlueColor;
            font-weight: 500;
        
            &:hover {
                background-color: $brandLightColor;
                border: 2px solid $brandLightColor;
            }
        }
    }
}

@mixin dateInputStyle {
    input[type="datetime-local"] {
        &::-webkit-calendar-picker-indicator {
            filter: invert(83%) sepia(10%) saturate(2857%) hue-rotate(162deg) brightness(75%) contrast(107%);
            cursor: pointer;
            transition: 0.3s;
        }

        &::-webkit-calendar-picker-indicator:hover {
            filter: invert(22%) sepia(61%) saturate(2221%) hue-rotate(170deg) brightness(93%) contrast(103%);
        }
    }
}

@mixin selectStyle {
    select {
        cursor: pointer;
        background-image:
            linear-gradient(45deg, transparent 50%, $brandLightColor 50%),
            linear-gradient(135deg, $brandLightColor 50%, transparent 50%);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
        background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
        background-repeat: no-repeat;
    }
}