<div class="container w-50">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <label>Name</label>
        <input type="name" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Enter name"
                formControlName="name" required>
        <div *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched || submitted)" class="error"> 
          <div *ngIf="formGroup.controls['name'].errors?.['required']">
            Name is required
          </div>
          <div *ngIf="formGroup.controls['name'].errors?.['maxlength']">
            Name can have maximum 20 characters
          </div>
          <div *ngIf="nameError" class="error">
            {{ nameError }}
          </div>
        </div>
      </div>
      <div class="form-group mb-4">
        <label>Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                formControlName="email" required>
        <div *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched || submitted)" class="error"> 
          <div *ngIf="formGroup.controls['email'].errors?.['required']">
            Email is required
          </div>
          <div *ngIf="formGroup.controls['email'].errors?.['pattern']">
            Wrong pattern for email
          </div>
          <div *ngIf="emailError" class="error">
            {{ emailError }}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Edit profile</button>
  </form>
  </div>