<div class="container" *ngIf="birthday">
  <div class="upperBirthdayItem">
    <!-- Left side content -->
    <div class="group">
      <span>Group: </span>
      <a *ngIf="group" (click)="goToGroup(group)">{{ group.name }}</a>
    </div>

    <!-- Right side content -->
    <div class="icons">
      <button class="btn-filter" tooltip [tooltipText]="'Edit'" (click)="editBirthday(birthday.id)"><i class="fa-regular fa-pen-to-square"></i></button>
      <button class="btn-filter" tooltip [tooltipText]="'Archive'" (click)="confirmDeletion(birthday)"><i class="fa-solid fa-box-archive"></i></button>
      <button class="btn-filter" tooltip [tooltipText]="'Close'" [type]="'click'" (click)="closeModal()"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>
  </div>
  
  <div class="lowerBirthdayItem">
    <div class="row itemName">
      <div class="col">
      {{ birthday.title }}
      </div>
    </div>
    <div class="row itemOtherInfo">
      <div class="col">
        <span>Birthday person</span><br>
        {{  birthday.name }}
      </div>
      <div class="col">
        <span>Birthday date</span><br>
        {{ birthday.birthday_date | date:'mediumDate' }}
      </div>
      <div class="col">
        <span>Phone number</span><br>
        {{ birthday.phone_number }}
      </div>
    </div>
    <div class="row itemNotes">
      <div class="col">
        <span>Notes</span><br>
        <div class="notes">{{ birthday.body }}</div>
      </div>
    </div>
  </div>
</div>