<div class="container" *ngIf="birthday">
  <div class="upper-birthday-item">
    <!-- Left side content -->
    <div class="group">
      <span>Group: </span>
      <a *ngIf="group" (click)="goToGroup(group)">{{ group.name }}</a>
    </div>

    <!-- Right side content -->
    <div class="icons">
      <button tooltip [tooltipText]="'Edit'" (click)="editBirthday(birthday.id)">
        <i class="fi fi-br-edit icon-xs"></i>
      </button>
      <button tooltip [tooltipText]="'Archive'" (click)="confirmDeletion(birthday)">
        <i class="fi fi-br-box icon-xs"></i>
      </button>
      <button tooltip [tooltipText]="'Close'" [type]="'click'" (click)="closeModal()">
        <i class="fi fi-br-cross-circle icon-xs"></i>
      </button>
    </div>
  </div>
  
  <div class="lower-birthday-item">
    <div class="row text-2xl">
      <div class="col">
      {{ birthday.title }}
      </div>
    </div>
    <div class="row item-other-info">
      <div class="col">
        <span>Birthday person</span><br>
        {{  birthday.name }}
      </div>
      <div class="col">
        <span>Birthday date</span><br>
        {{ birthday.birthday_date | date:'mediumDate' }}
      </div>
      <div class="col">
        <span>Phone number</span><br>
        {{ birthday.phone_number }}
      </div>
    </div>
    <div class="row item-notes">
      <div class="col">
        <span>Notes</span><br>
        <div class="notes">{{ birthday.body }}</div>
      </div>
    </div>
  </div>
</div>