@use 'colors';
@use 'mixins';

.custom-modal .modal-content {
    width: 623px;
    margin: auto;
    border: 2px #404040 solid;
    border-radius: 16px;
    color: #ffffff;
    background-color: colors.$reminderColor;
    backdrop-filter: blur(10px);

    .upper-birthday-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 22px 0px 22px;

        .group {
            span {
                color: colors.$birthdayReminderLightGrey
            }

            a {
                text-decoration: none;
                color: #ffffff;
                cursor: pointer;
                transition: 0.3s;
                @include mixins.brandLightHover;
            }
        }

        .icons {            
            button {
                padding: 0;
                border: none;
                background: none;
                margin-left: 18px;
                color: #ffffff;
                transition: 0.3s;
                @include mixins.brandLightHover;
            }
        }
    }
    
    .lower-birthday-item{
        padding: 33px 73px 18px 73px;
        span {
            color: colors.$birthdayReminderLightGrey;
        }

        .row {
            margin-bottom: 15px;
        }

        .item-other-info, .item-notes{
            .notes {
                border: 1px colors.$birthdayReminderLightGrey solid;
                border-radius: 7px;
                color: #ffffff;
                padding: 10px;
                word-wrap: break-word;
            }
        }
    }
}