<div class="card bg-dark text-white mt-5">
    <div class="card-header">
        {{pageTitle}}
        {{ filteredUsers.length }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">Filter by:</div>
            <div class="col-md-1">
                <input class="bg-dark border border-2 border-white text-white rounded-3" type="text" [(ngModel)]="listFilter">
            </div>
        </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-dark table-striped text-center align-middle" *ngIf="filteredUsers.length">
        <thead>
          <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Role</th>
            <th>Date created</th>
            <th>Last login</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.surname }}</td>
              <td>{{ user.email }}</td>
              <td>
                <select class="bg-dark text-white" [(ngModel)]="user.role" (change)="onUserRoleChange(user)">
                  <option selected [value]="user.role">{{ user.role }}</option>
                  <option *ngFor="let role of getUserRoles(user)" [value]="role">{{ role }}</option>
                </select>
              </td>
              <td>{{ user.created_at | date:'medium' }}</td>
              <td>{{ user.last_login | date:'medium' }}</td>
          </tr>
        </tbody>
      </table>
      </div>
</div>