<div class="container form-container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div *ngIf="formGroup.invalid && errorMessage" class="alert alert-danger"> 
            {{ errorMessage }}
        </div>
        <div class="form-group mb-4">
            <label for="exampleInputCurrentPassword1">Current Password</label>
            <input type="password" class="form-control" id="exampleInputCurrentPassword1" aria-describedby="currentPasswordHelp" placeholder="Enter Current Password"
                    formControlName="currentPassword" required
                    [ngClass]="{'invalid-field': formGroup.controls['currentPassword'].invalid && (formGroup.controls['currentPassword'].touched || submitted)}">
            <div *ngIf="formGroup.controls['currentPassword'].invalid && (formGroup.controls['currentPassword'].touched || submitted)" class="error"> 
                <div *ngIf="formGroup.controls['currentPassword'].errors?.['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="exampleInputNewPassword1">New Password</label>
            <input type="password" class="form-control" id="exampleInputNewPassword1" aria-describedby="newPasswordHelp" placeholder="Enter New Password"
                    formControlName="newPassword" required
                    [ngClass]="{'invalid-field': formGroup.controls['newPassword'].invalid && (formGroup.controls['newPassword'].touched || submitted)}">
            <div *ngIf="formGroup.controls['newPassword'].invalid && (formGroup.controls['newPassword'].touched || submitted)" class="error"> 
                <div *ngIf="formGroup.controls['newPassword'].errors?.['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label>Password confirmation</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirmation Password"
                    formControlName="confirmationPassword" required
                    [ngClass]="{'invalid-field': formGroup.controls['confirmationPassword'].invalid && (formGroup.controls['confirmationPassword'].touched || submitted)}">
            <div *ngIf="formGroup.controls['confirmationPassword'].invalid && (formGroup.controls['confirmationPassword'].dirty || formGroup.controls['confirmationPassword'].touched || submitted)" class="error"> 
                <div *ngIf="formGroup.controls['confirmationPassword'].errors?.['required']">
                    This field is required
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="row">
                <div class="col g-0 m-1">
                    <button class="btn form-btn back-btn" type="button" (click)="onBack()">
                        <i class="fa fa-chevron-left"></i> Cancel
                    </button>
                </div>
                <div class="col g-0 m-1">
                    <button class="btn form-btn create-btn" type="submit">Reset password</button>
                </div>
            </div>
        </div>
    </form>
</div>