<ngx-spinner 
  bdColor = "#1e1e1e" 
  size = "large" 
  color = "#54a9c4" 
  type = "ball-triangle-path"
  [fullScreen] = "false"
>
  <p style="color: white" > Loading... </p>
</ngx-spinner>
<div class="container" *ngIf="user">
  <div class="conatiner py-5 profile-container">
    <div class="header">Welcome to your profile {{ user.name }}</div>
  
  
    <div class="icon">
      <i class="fi fi-br-circle-ellipsis" tooltip [tooltipText]="'More options'" [type]="'click'" (click)="toggleOptionsVisibility()"></i>
    </div>
    <div class="options-visibility" [@options] *ngIf="isOptionVisible">
      <div class="options" >
        <div class="option" [routerLink]="['/profile/edit']">
          <i class="fi fi-br-user-pen"></i>
          Edit Profile
        </div>
        <div class="option" [routerLink]="['/profile/password-change']">
          <i class="fi fi-br-lock"></i>
          Change Password
        </div>
        <div class="option" (click)="logoutUser()">
          <i class="fi fi-br-exit"></i>
          Logout
        </div>
      </div>
    </div>
  
    <div class="user-info">
      <div class="info">
        <div class="row">
          <div class="col-sm-2">
            <p class="mb-0">Username</p>
          </div>
          <div class="col-sm-2">
            <span>{{ user.username }}</span>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="row">
          <div class="col-sm-2">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-5">
            <span>{{ user.name }} {{ user.surname }}</span>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="row">
          <div class="col-sm-2">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-2">
            <span>{{ user.email }}</span>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="row">
          <div class="col-sm-2">
            <p class="mb-0">Joined</p>
          </div>
          <div class="col-sm-5">
            <span>{{ user.created_at | date:'mediumDate' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="complete-profile-container" *ngIf="!user?.name?.length || !user?.surname?.length">
    <div class="header">
      Your profile is not complete
    </div>
    <button class="btn btn-primary" [routerLink]="['/profile/edit']">Complete</button>
  </div>
</div>