<ngx-spinner 
  bdColor = "#1e1e1e" 
  size = "large" 
  color = "#54a9c4" 
  type = "ball-triangle-path"
  [fullScreen] = "false"
>
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<ng-container *ngIf="user">
  <div class="profile-container">
    <div class="header">Welcome to your profile {{ user.name }}</div>
  
    <div class="icon">
      <i class="fi fi-br-circle-ellipsis" tooltip [tooltipText]="'More options'" [type]="'click'" (click)="toggleOptionsVisibility()"></i>
    </div>
    <div class="options-visibility" [@options] *ngIf="isOptionVisible">
      <div class="options" >
        <div class="option" [routerLink]="['/profile/edit']">
          <i class="fi fi-br-user-pen"></i>
          Edit Profile
        </div>
        <div class="option" [routerLink]="['/profile/password-change']">
          <i class="fi fi-br-lock"></i>
          Change Password
        </div>
        <div class="option" (click)="logoutUser()">
          <i class="fi fi-br-exit"></i>
          Logout
        </div>
      </div>
    </div>
  
    <div class="user-info-wrapper">
      <div class="info-title">
        <p>Username</p>
        <p>Full Name</p>
        <p>Email</p>
        <p>Joined</p>
      </div>
      <div class="user-info">
        <span>{{ user.username }}</span>
        <span>{{ user.name }} {{ user.surname }}</span>
        <span>{{ user.email }}</span>
        <span>{{ user.created_at | date:'mediumDate' }}</span>
      </div>
    </div>
  </div>
  
  <div class="complete-profile-container" *ngIf="!user.name.length || !user.surname.length">
    <div class="header">
      Your profile is not complete
    </div>
    <button class="btn btn-primary" [routerLink]="['/profile/edit']">Complete</button>
  </div>
</ng-container>