<div class="nav">
    <div class="nav-left">
        <a [routerLink]="['/welcome']">
            <img src="../../assets/logo_transparent_no_text.png" width="25" alt="logo">
        </a>
        <a class="link" href="/welcome#home">Home</a>
        <a class="link" href="/welcome#about">About</a>
        <a class="link" href="/welcome#contact">Contact</a>
    </div>
    <div class="nav-right">
        <ng-container *ngIf="!loggedIn(); else loggedInButtons">
            <button class="secondary-btn" [routerLink]="['/login']">Login</button>
            <button class="primary-btn" [routerLink]="['/register']">Register</button>
        </ng-container>
        <ng-template #loggedInButtons>
            <button class="secondary-btn" (click)="logout()">Logout</button>
            <button class="primary-btn" [routerLink]="['/profile']">Profile</button>
        </ng-template>
    </div>
</div>