<div class="footer-container">
    <div class="footer-item">
      <img src="../../assets/logo_transparent_with_text.png" alt="brand_logo">
    </div>
    <div class="footer-item">
      <div class="footer-info">
        &copy; {{ year }} — memoflick. All rights reserved
      </div>
    </div>
    <!-- <div class="footer-item">
      <div class="social-media-icons">
        <a href="https://www.linkedin.com/feed/"><i class="fi fi-brands-linkedin"></i></a>
        <a href="https://www.instagram.com/"><i class="fi fi-brands-instagram"></i></a>
        <a href="https://www.facebook.com/"><i class="fi fi-brands-facebook"></i></a>
      </div>
    </div> -->
    <a href="https://treydev.com/#home" target="_blank">Developed by © TreyDev</a>
  </div>
