<div class="container form-container" *ngIf="formGroup">
    <h1 class="text-center">
        {{ group?.name }}
    </h1>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Group Name</label>
            <input type="text" class="form-control" placeholder="Person name"
                    formControlName="name" required/>
            <div *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched || submitted)" class="error"> 
                <div *ngIf="formGroup.controls['name'].errors?.['required']">
                    This field is required
                </div> 
                <div *ngIf="formGroup.controls['name'].errors?.['maxlength']">
                    This field can have maximum 50 characters
                </div>
                <div *ngIf="nameError" class="error">
                  {{ nameError }}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        formControlName="description"></textarea>
            <div *ngIf="formGroup.controls['description'].invalid" class="error"> 
                <div *ngIf="formGroup.controls['description'].errors?.['maxlength']">
                    This field can have maximum 200 characters
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="row">
                <div class="col g-0 m-1">
                    <button class="btn form-btn back-btn" type="button" (click)="onBack()">
                        <i class="fa fa-chevron-left"></i> Cancel
                    </button>
                </div>
                <div class="col g-0 m-1">
                    <button class="btn form-btn create-btn" type="submit">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>