<ngx-spinner 
  bdColor = "#1e1e1e" 
  size = "large" 
  color = "#54a9c4" 
  type = "ball-triangle-path"
  [fullScreen] = "false"
>
  <p style="color: white" > Loading... </p>
</ngx-spinner>
<div class="container form-container" *ngIf="birthday">
    <h3 class="text-center">
        Editing {{ birthday.name }}
    </h3>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Reminder Title</label>
            <input type="text" class="form-control"
                    formControlName="title" required
                    [ngClass]="{'invalid-field': formGroup.controls['title'].invalid && (formGroup.controls['title'].touched || submitted)}"/>
            <div *ngIf="formGroup.controls['title'].invalid && (formGroup.controls['title'].dirty || formGroup.controls['title'].touched || submitted)" class="error"> 
                <div *ngIf="formGroup.controls['title'].errors?.['required']">
                    This field is required
                </div> 
                <div *ngIf="formGroup.controls['title'].errors?.['maxlength']">
                    This field can have maximum 50 characters
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Birthday Person</label>
            <input type="text" class="form-control"
                    formControlName="name" required
                    [ngClass]="{'invalid-field': formGroup.controls['name'].invalid && (formGroup.controls['name'].touched || submitted)}"/>
            <div *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched || submitted)" class="error"> 
                <div *ngIf="formGroup.controls['name'].errors?.['required']">
                    This field is required
                </div> 
                <div *ngIf="formGroup.controls['name'].errors?.['maxlength']">
                    This field can have maximum 50 characters
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Birthday date</label>
            <input type="datetime-local" class="form-control"
                    formControlName="birthday_date" required
                    [ngClass]="{'invalid-field': formGroup.controls['birthday_date'].invalid && (formGroup.controls['birthday_date'].touched || submitted)}"/>
            <div *ngIf="formGroup.controls['birthday_date'].invalid && (formGroup.controls['birthday_date'].touched || submitted)" class="error"> 
                <div *ngIf="formGroup.controls['birthday_date'].errors?.['required']">
                    This field is required
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <div class="row">
                <div class="col g-0 m-1">
                    <label class="form-label">Phone number</label>
                    <input type="text" class="form-control"
                            formControlName="phone_number"
                            [ngClass]="{'invalid-field': formGroup.controls['phone_number'].invalid}"/>
                    <div *ngIf="formGroup.controls['phone_number'].invalid" class="error"> 
                        <div *ngIf="formGroup.controls['phone_number'].errors?.['pattern']">
                            Invalid characters entered. Please use only numbers
                        </div>
                    </div>
                </div>
                <div class="col g-0 m-1">
                    <label class="form-label">Group</label>
                    <select class="form-select" aria-label="Default select example"
                            formControlName="group_id">
                        <option *ngIf="birthday.group_id != null; else noGroup" selected value="{{ birthday.group_id }}">{{ getGroup(birthday) }}</option>
                        <option *ngFor="let group of groups" value="{{ group.id }}">{{ group.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        formControlName="body"
                        [ngClass]="{'invalid-field': formGroup.controls['body'].invalid}"></textarea>
            <div *ngIf="formGroup.controls['body'].invalid" class="error"> 
                <div *ngIf="formGroup.controls['body'].errors?.['maxlength']">
                    This field can have maximum 200 characters
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="row">
                <div class="col g-0 m-1">
                    <button class="btn form-btn back-btn" type="button" (click)="onBack()">
                        Cancel
                    </button>
                </div>
                <div class="col g-0 m-1">
                    <button class="btn form-btn create-btn" type="submit">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>

<ng-template #noGroup>
  <option selected value=null>Add to group</option>
</ng-template>