<h1 *ngIf="birthday">
    {{ birthday.name }}
</h1>

<div class="container">
    <form *ngIf="birthday">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input [(ngModel)]="birthdayData.name" name="name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input [(ngModel)]="birthdayData.title" name="title" type="text" class="form-control" placeholder="Title">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone number</label>
            <input [(ngModel)]="birthdayData.phone_number" name="phone_number" type="text" class="form-control" placeholder="Phone number">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Body</label>
            <textarea [(ngModel)]="birthdayData.body" name="body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Birthday date</label>
            <input [(ngModel)]="birthdayData.birthday_date" name="birthday_date" type="datetime-local" class="form-control" placeholder="Birthday date">
        </div>
        <div class="mb-3">
            <select [(ngModel)]="birthdayData.group_id" name="group_id" class="form-select" aria-label="Default select example">
                <option selected value=null>Add to group</option>
            </select>
        </div>
        
        <div class="card-footer">
            <button (click)="editBirthday()" type="submit" class="btn btn-primary">Edit</button>
            <button class="btn btn-outline-secondary" 
                    type="button"
                    style="width: 80px;"
                    (click)="onBack()">
                <i class="fa fa-chevron-left"></i> Back
            </button>
        </div>
        
    </form>
</div>