<div class="container w-50">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div *ngIf="formGroup.invalid && errorMessage" class="alert alert-danger"> 
      {{ errorMessage }}
    </div>
    <div class="form-group mb-4">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
              formControlName="email" required>
      <div *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].touched || submitted)" class="error"> 
        <div *ngIf="formGroup.controls['email'].errors?.['required']">
            Email is required
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
              formControlName="password" required>
      <div *ngIf="formGroup.controls['password'].invalid && (formGroup.controls['password'].touched || submitted)" class="error"> 
        <div *ngIf="formGroup.controls['password'].errors?.['required']">
            Password is required
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31"  formControlName="remember"/>
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>
      <div class="col">
          <a routerLink="/password-forget">Forgot password</a>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>