@import '../styles/master/colors.scss';
@import '../styles/master/mixins.scss';
@import '../styles/master/fonts.scss';

.form-container {
    width: 500px;
    margin: auto;

    .invalid-field {
        border: 1px solid red !important;
    }
    
    .error {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: #a94442;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        .header {
            font-size: 35px;
            font-weight: 500;
        }

        .subheader {
            font-size: $h5;
            color: $brandLightColor;
        }
    }
    
    input[type=password], input[type=email], input[type=text] {
        width: 100%;
        border: 2px solid #5B5966;
        border-radius: 10px;
    }
        
    input[type=checkbox] {
        border: 2px solid white;
        cursor: pointer;
    }

    input {
        background-color: $backgroundMasterColor;
        color: white;
        transition: 0.3s;
        box-sizing: border-box;
    
        &:focus {
            background-color: $backgroundMasterColor;
            border: 2px solid $brandLightColor;
            color: white;
            box-shadow: none;
        }
    }

    label {
        color: #5B5966;
        cursor: pointer;
    }

    .others {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 35px;

        .checkbox {
            label {
                color: #ffffff;
            }
        }

        a {
            text-decoration: none;
            color: $brandBlueColor;
            transition: 0.3s;
            font-weight: 500;

            &:hover {
                color: $brandLightColor;
            }
        }
    }
    
    .form-btn {
        width: 100%;
        color: white;
        border: 2px solid $brandBlueColor;
        border-radius: 5px;
        transition: 0.3s;
    }
    
    .login-btn {
        background-color: $brandBlueColor;
        border-radius: 8px;
    
        &:hover {
            background-color: $brandLightColor;
            border: 2px solid $brandLightColor;
        }
    }

    .register-link {
        text-align: center;
        margin-top: 20px;
        
        span {
            color: $brandBlueColor;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                color: $brandLightColor;
            }
        }
    }
}