<div class="form-container">
  <div class="radials">
    <div class="one light-blue"></div>
    <div class="two light-green"></div>
    <div class="three blue"></div>
    <div class="four light-blue"></div>
    <div class="five light-green"></div>
    <div class="six blue"></div>
  </div>
  <div class="highlights">
    <div class="top blue"></div>
    <div class="bottom blue"></div>
  </div>
  <div class="form-wrapper">
    <div class="title">
      <a [routerLink]="['/welcome']"><img src="../../assets/logo_transparent_no_text.png" alt="logo"></a>
      <div class="header">
        Welcome to  memoflick
      </div>
      <div class="subheader">
        Sign in to your account
      </div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="email" required
                [ngClass]="{'invalid-field': formGroup.controls['email'].invalid && submitted}">
        <div *ngIf="formGroup.controls['email'].invalid && submitted" class="error">
          <div *ngIf="formGroup.controls['email'].errors?.['required']">
              This field is required
          </div>
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"
                formControlName="password" required
                [ngClass]="{'invalid-field': formGroup.controls['password'].invalid && submitted}">
        <div *ngIf="formGroup.controls['password'].invalid && submitted" class="error">
          <div *ngIf="formGroup.controls['password'].errors?.['required']">
            This field is required
          </div>
        </div>
      </div>
      <div class="others">
        <div class="checkbox">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31"  formControlName="remember"/>
            <label class="form-check-label" for="form2Example31">Keep me signed in</label>
          </div>
        </div>
        <a [routerLink]="['/password-forget']">Forgot password?</a>
      </div>

      <div class="form-group">
        <button class="btn form-btn login-btn" type="submit">Sign in</button>
        <div class="form-link">
          Don&#39;t have an account? <span [routerLink]="['/register']">Sign up</span>
        </div>
      </div>
    </form>
  </div>
</div>

<form-brand-background></form-brand-background>
