<ngx-spinner 
  bdColor = "#1e1e1e" 
  size = "large" 
  color = "#54a9c4" 
  type = "ball-triangle-path"
  [fullScreen] = "false"
>
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="reminders-nav">
  <div class="text-2xl">{{ data.pageTitle }}</div>
  <div class="search-bar">
    <input type="text" [(ngModel)]="data.listFilter" (input)="onSearchChange()">     
  </div>
  <button class="btn-nav" tooltip [tooltipText]="'Sort by title'" (click)="sortRemindersByTitle()">
    <span>Title</span>
    <ng-container *ngIf="data.titleSort === 'none'">
      <i class="fi fi-br-angles-up-down"></i>
    </ng-container>
    <ng-container *ngIf="data.titleSort === 'asc'">
      <i class="fi fi-br-angle-small-up"></i>
    </ng-container>
    <ng-container *ngIf="data.titleSort === 'desc'">
      <i class="fi fi-br-angle-small-down"></i>
    </ng-container>
  </button>
  <button class="btn-nav" tooltip [tooltipText]="'Sort by date'" (click)="sortRemindersByDate()">
    <span>Date</span>
    <ng-container *ngIf="data.dateSort === 'none'">
      <i class="fi fi-br-angles-up-down"></i>
    </ng-container>
    <ng-container *ngIf="data.dateSort === 'asc'">
      <i class="fi fi-br-angle-small-up"></i>
    </ng-container>
    <ng-container *ngIf="data.dateSort === 'desc'">
      <i class="fi fi-br-angle-small-down"></i>
    </ng-container>
  </button>
  <button class="btn-nav" tooltip [tooltipText]="'Create reminder'" [routerLink]="['/birthdays/create']">
    <i class="fi fi-br-square-plus"></i>
  </button>
</div>

<div class="birthday-list">
  <ng-container *ngFor="let birthday of data.filteredBirthdays">
    <app-birthday-list-item [birthday]="birthday" [group]="data.group"></app-birthday-list-item>
  </ng-container>
</div>