@use 'colors';
@use 'mixins';
@use 'fonts';

.reminders-nav {
    height: 120px;
    width: 100%;
    padding-bottom: 32px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    gap: 32px;

    position: sticky;
    top: 0;
    z-index: 1;

    background-color: colors.$backgroundMasterColor;

    .search-bar {
        align-items: center;
        position: relative;
        width: 400px;
        display: flex;

        input {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /></svg>');
            background-repeat: no-repeat;
            background-size: 50px 25px;
            background-position: left -4px bottom 7px;
            background-color: colors.$backgroundMasterColor;

            border: 2px colors.$brandBlueColorMedium solid;
            border-radius: 7px;
            color: #ffffff;
            width: 100%;
            height: 43px;
            padding: 0px 45px;
            outline: 0;
            cursor: pointer;
            transition: 0.4s;

            &:focus {
                border: 2px colors.$brandLightColor solid;
            }
        }
    }

    .btn-nav {
        @include fonts.text-2xl();
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;

        padding: 0;
        border: none;
        background: none;
        color: #ffffff;
        transition: 0.3s;
        @include mixins.brandLightHover;

        i {
            font-size: fonts.$icons-medium;
            line-height: fonts.$icons-medium;
            height: fonts.$icons-medium;
        }
    }
}

.birthday-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
