<ngx-spinner 
  bdColor = "#1e1e1e" 
  size = "large" 
  color = "#54a9c4" 
  type = "ball-triangle-path"
  [fullScreen] = "false"
>
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="reminders-nav">
  <div class="title mixin-h5">{{ data.pageTitle }}</div>
  <div class="search-bar">
    <input type="text" [(ngModel)]="data.listFilter" (input)="onSearchChange()">     
  </div>
  <button class="btn-nav" tooltip [tooltipText]="'Sort by title'" (click)="sortRemindersByTitle()">
    <span>Title</span>
    <ng-container *ngIf="data.titleSort === 'none'">
      <i class="fi fi-br-angles-up-down"></i>
    </ng-container>
    <ng-container *ngIf="data.titleSort === 'asc'">
      <i class="fi fi-br-angle-small-up"></i>
    </ng-container>
    <ng-container *ngIf="data.titleSort === 'desc'">
      <i class="fi fi-br-angle-small-down"></i>
    </ng-container>
  </button>
  <button class="btn-nav" tooltip [tooltipText]="'Sort by date'" (click)="sortRemindersByDate()">
    <span>Date</span>
    <ng-container *ngIf="data.dateSort === 'none'">
      <i class="fi fi-br-angles-up-down"></i>
    </ng-container>
    <ng-container *ngIf="data.dateSort === 'asc'">
      <i class="fi fi-br-angle-small-up"></i>
    </ng-container>
    <ng-container *ngIf="data.dateSort === 'desc'">
      <i class="fi fi-br-angle-small-down"></i>
    </ng-container>
  </button>
  <button class="btn-nav" tooltip [tooltipText]="'Create reminder'" [routerLink]="['/birthdays/create']">
    <i class="fi fi-br-square-plus"></i>
  </button>
</div>

<div class="base">
  <div class="birthday-list" *ngFor="let birthday of data.filteredBirthdays">
    <div class="birthday-item" (click)="openModal(birthday)">
      <div class="left">
        <i class="fi fi-br-cake-birthday"></i>
        <span>{{ birthday.title }}</span>
        <span>|</span>
        <span>{{ birthday.birthday_date | date: 'd MMMM' }}</span>
      </div>
      <div class="right">
        <i
          class="fi fi-br-circle-ellipsis"
          (click)="toggleReminderOptions($event, birthday)"
          tooltip
          [tooltipText]="'More options'"
          [type]="'click'">
        </i>
      </div>
    </div>
    <more-options
      [object]="birthday"
      [editUrl]="'/birthdays/edit'"
      [isOptionVisible]="data.isOptionVisible"
      [optionObject]="data.optionBirthday"
      (optionsToggle)="toggle()"
      [customStyle]="'style-for-birthday-list'"
      (deleteToggle)="deleteBirthday(birthday)">
    </more-options>
  </div>
</div>