<div class="header">
    <div class="left">
        <div class="title">All Groups</div>
        <svg [routerLink]="['/groups/create']" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>                
    </div>
    <div class="right" (click)="closePanel()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>                           
    </div>
</div>
<div class="line-break"></div>
<div class="list">
    <div class="list-item" *ngFor="let group of groups">
        <div class="item">
            <div class="item-link" [routerLink]="['/birthdays/list/', group.id]">{{ group.name }}</div>
            
            <a (click)="toggleReminderOptions($event, group)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </a>         
        </div>
        <app-options
          [object]="group"
          [editUrl]="'/groups/edit'"
          [isOptionVisible]="isOptionVisible"
          [optionObject]="optionGroup"
          (optionsToggle)="toggle()"
          [customStyle]="'style-for-group-panel'"
          (deleteToggle)="deleteGroup(group)"
          (clickToggle)="closeOptions()">
        </app-options>
    </div>
</div>