<div class="header">
    <div class="left">
        <div class="title">All Groups</div>
        <i class="fi fi-br-add" tooltip [tooltipText]="'Create group'" [routerLink]="['/groups/create']"></i>
    </div>
    <i class="fi fi-br-cross-circle" tooltip [tooltipText]="'Close'" [type]="'click'" (click)="closePanel()"></i>
</div>
<div class="line-break"></div>
<div class="list">
    <div class="list-item" *ngFor="let group of groups">
        <div class="item">
            <div class="item-link" [routerLink]="['/birthdays/list/', group.id]">{{ group.name }}</div>
            <i
                class="fi fi-br-circle-ellipsis"
                tooltip
                [tooltipText]="'More options'"
                [type]="'click'"
                (click)="toggleReminderOptions($event, group)">
            </i>
        </div>
        <app-options
          [object]="group"
          [editUrl]="'/groups/edit'"
          [isOptionVisible]="isOptionVisible"
          [optionObject]="optionGroup"
          (optionsToggle)="toggle()"
          [customStyle]="'style-for-group-panel'"
          (deleteToggle)="deleteGroup(group)"
          (clickToggle)="closeOptions()">
        </app-options>
    </div>
</div>