<ngx-spinner 
    name="calendar-panel"
    bdColor = "#00455C" 
    size = "medium" 
    color = "#fffffffff" 
    type = "ball-triangle-path" 
    [fullScreen] = "false"
>
</ngx-spinner>
<div class="header">
    <div class="text-2xl">Calendar</div>
    <i class="fi fi-br-cross-circle" tooltip [tooltipText]="'Close'" [type]="'click'" (click)="closePanel()"></i>
</div>
<div class="line-break"></div>
<div class="calendar">
    <ngb-datepicker #dp [(ngModel)]="model" (ngModelChange)="filterBirthdays(model)"/>
</div>
<div class="header">
    <div class="text-xl">{{ currentDate | date:"mediumDate" }}</div>
</div>
<div class="line-break secondary"></div>
<div class="list" >
    <div class="list-item" *ngFor="let birthday of filteredBirthdays">
        <div class="item-link">
            <i class="fi fi-br-cake-birthday"></i>
            {{ birthday.name }}
        </div>
    </div>
</div>