:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    & > *,
    .private-container > *,
    .public-container > * {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .private-container {
        display: flex;
    
        .app {
            width: 100%;
            position: relative;
        }
    }
    
    .public-container {
        // .app {
        //     margin-top: 70px;
        // }
    }
}