:host {
    height: 100%;

    .public-container {
        height: 100%;
    }

    .private-container {
        display: flex;
    
        .app {
            width: 100%;
            position: relative;
        }
    }
}