<nav class="navbar navbar-expand navbar-light bg-light" *ngIf="!loggedIn()">
  <div class="container-fluid">
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="/welcome">{{ pageTitle }}</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-primary m-1" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary m-1" [routerLink]="['/login']">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-container container-fluid g-0">
  <ng-container *ngIf="loggedIn() && inPrivateRoute; else closedSidebarContent">
    <div class="sidebar">
      <app-sidebar (isPanelExpanded)="isSidebarExpanded($event)"></app-sidebar>
    </div>
    <div class="app" [@shiftAnimation]="sidebarToggle ? 'open' : 'closed'">
      <router-outlet></router-outlet>
    </div>
  </ng-container>

  <ng-template #closedSidebarContent>
    <div class="app">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>