@import '../styles/master/colors.scss';
@import '../styles/master/mixins.scss';
@import '../styles/master/fonts.scss';


.sidebar {
    display: flex;

    .closed-panel {
        position: sticky;
        left: 0;
        top: 0;
        width: 113px;
        height: 100vh;
        padding-top: 31px;
        background-color: #005977;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        filter: drop-shadow(5px 0 20px rgba(0, 0, 0, 0.15));

        .img {
            margin-bottom: 55px;
        }

        .icons {
            display: flex;
            flex-direction: column;
            
            svg {
                width: 24px;
                margin-bottom: 44px;
                @include brandLightHover    
            }
        }
    }

    .expanded-panel {
        position: sticky;
        top: 0;
        z-index: 1;
        height: 0;
    
        .absolute-container {
            position: absolute;
            left: -15px;
            width: 307px;
            height: 100vh;
            background-color: #00455C;
            padding: 40px 18px 40px 36px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }   
}