<div class="container-fluid g-0 h-100 sidebar">
    <div class="closed-panel">
        <div class="img">
            <a [routerLink]="['/welcome']">
                <img src="../../assets/logo_transparent_no_text.png" width="38" alt="logo">
            </a>
        </div>
        <div class="icons">        
            <div class="upper-icons">
                <i
                    class="fi fi-br-table-list"
                    tooltip
                    [tooltipText]="'Reminders'"
                    [routerLink]="['/birthdays/list']">
                </i>
                <i
                    class="fi fi-br-users-alt"
                    tooltip
                    [tooltipText]="'Groups'"
                    (click)="handleGroupPanelToggle()"
                    [ngClass]="{'open-panel': isGroupsPanelExpanded}"
                    #toggleButton>
                </i>
                <i
                    class="fi fi-br-calendar"
                    tooltip
                    [tooltipText]="'Calendar'"
                    (click)="handleCalendarPanelToggle()"
                    [ngClass]="{'open-panel': isCalendarPanelExpanded}">
                </i>
                <i
                    class="fi fi-br-box"
                    tooltip
                    [tooltipText]="'Archive'"
                    (click)="handleArchivePanelToggle()"
                    [ngClass]="{'open-panel': isArchivePanelExpanded}">
                </i>
                <i
                    class="fi fi-rr-settings"
                    tooltip
                    [tooltipText]="'Settings'">
                </i>
            </div>
            <div class="icon-border" tooltip [tooltipText]="'Profile'" [routerLink]="['/profile']">
                <i class="fi fi-br-user"></i>
            </div>
        </div>
    </div>
    <div class="expanded-panel sticky-container">
        <ng-container *ngIf="isGroupsPanelExpanded">
            <div class="absolute-container" [@panelAnimation]>
                <div>
                    <ngx-spinner 
                        name="groups-panel"
                        bdColor = "#00455C" 
                        size = "medium" 
                        color = "#fffffffff" 
                        type = "ball-triangle-path" 
                        [fullScreen] = "false"
                    >
                    </ngx-spinner>
                    <app-groups-panel 
                        [groups]="groups"
                        (closePanelToggle)="handleGroupPanelToggle()">
                    </app-groups-panel>
                </div>
                <account-pill></account-pill>
            </div>
        </ng-container>
        <ng-container *ngIf="isArchivePanelExpanded">
            <div class="absolute-container" [@panelAnimation]>
                <div>
                    <ngx-spinner
                        name="archive-panel"
                        bdColor = "#00455C" 
                        size = "medium" 
                        color = "#fffffffff" 
                        type = "ball-triangle-path" 
                        [fullScreen] = "false"
                    >
                    </ngx-spinner>
                    <app-archive-panel
                        [birthdays]="archivedBirthdays"
                        [groups]="archivedGroups"
                        (closePanelToggle)="handleArchivePanelToggle()">
                    </app-archive-panel>
                </div>
                <account-pill></account-pill>
            </div> 
        </ng-container>
        <ng-container *ngIf="isCalendarPanelExpanded">
            <div class="absolute-container" [@panelAnimation]>
                <app-calendar-panel
                    [birthdays]="birthdays"
                    (closePanelToggle)="handleCalendarPanelToggle()">
                </app-calendar-panel>
                <account-pill></account-pill>
            </div> 
        </ng-container>
    </div>
</div>