<div class="container w-50" *ngIf="user">
    <h1 class="text-center">
       ID: {{ user.id }}
    </h1>
    <h1 class="text-center">
       Name: {{ user.name }}
    </h1>
    <h1 class="text-center">
       {{ user.email }}
    </h1>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example"
                    formControlName="role">
                <option selected value="{{ user.role }}">{{ user.role }}</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Edit</button>
        <button class="btn btn-outline-secondary" 
                type="button"
                style="width: 80px;"
                (click)="onBack()">
            <i class="fa fa-chevron-left"></i> Back
        </button>
    </form>
</div>