@import '../../../styles/master/colors.scss';
@import '../../../styles/master/mixins.scss';
@import '../../../styles/master/fonts.scss';

.line-break {
    border: 0;
    border-radius: 5px;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;

    &.secondary {
        border-top: 2px solid rgba(255, 255, 255, 0.5);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    i {
        font-size: $icons-small;
        line-height: $icons-small;
        @include brandLightHover;
    }

    .title {
        font-size: $h5;
    }
}

.list-block {
    height: 675px;
    overflow: hidden;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: $brandLightColor;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: $brandBlueColor;
    }

    .list {
        position: relative;
        .list-item {
            display: flex;
            justify-content: space-between;
            font-size: $p;
            margin-bottom: 10px;
            margin-right: 10px;
    
            .item-name {
                display: flex;
                align-items: center;
                word-break: break-word;
                margin-right: 16px;
    
                i {
                    font-size: $icons-small;
                    line-height: $icons-small;
                    margin-right: 16px;
                }
            }
    
            .archive-options {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;

                i {
                    font-size: $icons-small;
                    line-height: $icons-small;
                    @include brandLightHover;
                }
            }
        }
    }
}