@import '../../../styles/master/colors.scss';
@import '../../../styles/master/mixins.scss';
@import '../../../styles/master/fonts.scss';

.line-break {
    border: 0;
    border-radius: 5px;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    svg {
        width: $icons-medium;
        @include brandLightHover;
    }

    .left {
        display: flex;
        font-size: $h5;
    }
}

.list-block {
    height: 675px;
    overflow: hidden;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: $brandLightColor;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: $brandBlueColor;
    }

    .list {
        position: relative;
        .list-item {
            display: flex;
            justify-content: space-between;
            font-size: $p;
            margin-bottom: 10px;
            margin-right: 10px;
    
            .item-name {
                display: flex;
                align-items: center;
                word-break: break-word;
                width: 180px;
    
                .icon {
                    svg {
                        margin-right: 23px;
                        width: $icons-small;
                    }
                }
            }
    
            .archive-options {
                display: flex;
                margin: auto 0;
                width: 43px;
                justify-content: space-between;
    
                svg {
                    width: $icons-small;
                    @include brandLightHover;
                }
            }
        }
    }
}