<div class="header">
    <div class="text-2xl">Archive</div>
    <i class="fi fi-br-cross-circle" tooltip [tooltipText]="'Close'" [type]="'click'" (click)="closePanel()"></i>
</div>
<div class="line-break"></div>
<div class="list-block">
    <div class="list" *ngFor="let birthday of birthdays">
        <div class="list-item">
            <div class="item-name">
                <i class="fi fi-br-cake-birthday"></i>
                {{ birthday.title }}
            </div>
            
            <div class="archive-options">
                <i class="fi fi-br-time-past" tooltip [tooltipText]="'Restore'" [type]="'click'" (click)="restoreBirthday(birthday)"></i>
                <i class="fi fi-br-trash" tooltip [tooltipText]="'Delete'" [type]="'click'" (click)="confirmBirthdayDeletion(birthday)"></i>
            </div>
        </div>
    </div>
    <div class="line-break secondary" *ngIf="birthdays?.length && groups?.length"></div>
    <div class="list" *ngFor="let group of groups">
        <div class="list-item">
            <div class="item-name">
                <i class="fi fi-br-users-alt"></i>
                {{ group.name }}
            </div>
            
            <div class="archive-options">
                <i class="fi fi-br-time-past" tooltip [tooltipText]="'Restore'" [type]="'click'" (click)="restoreGroup(group)"></i>
                <i class="fi fi-br-trash" tooltip [tooltipText]="'Delete'" [type]="'click'" (click)="confirmGroupDeletion(group)"></i>
            </div>
        </div>
    </div>
</div>