// Brand Colors
$backgroundMasterColor: #1e1e1e;
$brandBlueColor: #007ea7;
$brandBlueColorMedium: rgba(0, 126, 167, 0.5);
$brandLightColor: #54a9c4;

// Birthday Reminder
$reminderColor: rgba(48, 48, 48, 0.44);
$reminderColorHover: rgb(48, 48, 48);
$reminderColorSecondary: rgba(64, 64, 64, 0.63);
$reminderColorSecondaryHover: rgb(64, 64, 64);

// Birthday Reminder Block Active Text
$birthdayReminderLightGrey: #6d6d6d;

// Navbar colors
$navbarColor: rgba(64, 64, 64, 0.33);
$navbarColorHover: #404040;

// input, textarea, select
$inputsBorderFocus: #5b5b5b;

$primary-0: #e6f2f6;
$primary-1: #b0d7e4;
$primary-2: #8ac4d7;
$primary-3: #54a9c4;
$primary-4: #3398b9;
$primary-5: #007ea7;
$primary-6: #007398;
$primary-7: #005977;
$primary-8: #00455c;
$primary-9: #003546;

$neutral-1: #ffffff;
$neutral-2: #fdfdfd;
$neutral-3: #f6f6f6;
$neutral-4: #f2f2f2;
$neutral-5: #dddddd;
$neutral-6: #c7c7c7;
$neutral-7: #9a9a9a;
$neutral-8: #6d6d6d;
$neutral-9: #5b5b5b;
$neutral-10: #404040;
$neutral-11: #393939;
$neutral-12: #303030;
$neutral-13: #1e1e1e;
$neutral-14: #000000;
