<div class="header">
    <div class="left">
        <div class="title">Calendar</div>              
    </div>
    <div class="right" (click)="closePanel()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>                           
    </div>
</div>
<div class="line-break"></div>
<ngb-datepicker #dp [(ngModel)]="model" (ngModelChange)="getDate(model)"/>
<div class="header">
    <div class="left">
        <div class="title">Upcoming Birthdays</div>              
    </div>
</div>
<div class="line-break"></div>
<div class="list" *ngFor="let birthday of filterdBirthdays">
    <div class="list-item">
        <div class="item-link">{{ birthday.name }}</div>        
    </div>
</div>