@import '../../../styles/master/colors.scss';
@import '../../../styles/master/mixins.scss';
@import '../../../styles/master/fonts.scss';

.calendar {
    margin: 0 10px;
    
    ngb-datepicker {
        background-color: white;
        color: black;
        margin-bottom: 20px;
    }
}

i {
    font-size: $icons-small;
    height: $icons-small;
    @include brandLightHover;
}

.line-break {
    border: 0;
    border-radius: 5px;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;

    &.secondary {
        border-top: 2px solid rgba(255, 255, 255, 0.5);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: $brandLightColor;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: $brandBlueColor;
    }

    .list-item {
        height: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 10px;

        .item-link {
            @include brandLightHover;
        }
    }
}