<div class="container w-50" *ngIf="!resetPasswordEmailFlag">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div *ngIf="formGroup.invalid && errorMessage" class="alert alert-danger"> 
        {{ errorMessage }}
      </div>
      <div class="form-group mb-4">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                formControlName="email" required>
        <div *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].touched || submitted)" class="error"> 
          <div *ngIf="formGroup.controls['email'].errors?.['required']">
              Email is required
          </div>
          <div *ngIf="formGroup.controls['email'].errors?.['pattern']">
            Wrong pattern for email
          </div>
          <div *ngIf="emailError" class="error">
            {{ emailError }}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Send password reset email</button>
    </form>
</div>

<div class="container w-50" *ngIf="resetPasswordEmailFlag">
  Check yout email for a link to reset your password.
  <button type="button" class="btn btn-primary" routerLink="/login">Return to login page</button>
</div>