@use 'fonts';
@use 'mixins';
@use 'colors';
@use 'icons';
@use 'common';

@import 'bootstrap/scss/bootstrap';
@import '@flaticon/flaticon-uicons/css/all/all';

:root {
    color-scheme: light dark;
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    @include fonts.text-base();
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: colors.$backgroundMasterColor;
    color: #ffffff;
}