<div class="about">
  <div class="radials">
    <div class="one blue"></div>
    <div class="two light"></div>
    <div class="three light"></div>
    <div class="four blue"></div>
  </div>
  <div class="highlights">
    <div class="top blue"></div>
    <div class="bottom blue"></div>
  </div>
  <div class="header">
    Create your own reminders
  </div>
  <div class="sub-header">
    Make variety of birthday reminders, organize them into specific groups and
    <br>
    never forget your close ones special day
    <br>
    <span>* All examples produced with the Reminder Builder</span>
  </div>
  <img src="../../assets/memoflick all reminders list prototype.png" alt="all reminders">
</div>
