@use "colors";
@use "fonts";
@use "mixins";

:host {
  display: flex;
  flex-direction: column;
  gap: 128px;

  [id] {
    scroll-margin-top: 64px;
  }
}

section {
  text-align: center;
  overflow-x: clip;
}

#home {
  height: 100dvh;
  padding-top: 64px;
}

#how-it-works {
  padding: 128px 0;
  background-color: colors.$neutral-1;
}
