@use 'colors';
@use 'fonts';
@use 'mixins';

section {
    text-align: center;
    overflow-x: clip;
}

#home {
    padding-top: 184px;

    .radials {
        position: relative;
        z-index: -1;
    
        .one {
            width: 23px;
            height: 23px;
            border-radius: 50%;
    
            position: absolute;
            left: 92px;
            top: 202px;
        }
    
        .three {
            width: 34px;
            height: 34px;
            border-radius: 50%;
    
            position: absolute;
            right: 94px;
            top: 733px;
        } 
    
        .blue {
            background: linear-gradient(342deg, rgba(2,67,89,1) 0%, rgba(2,106,139,1) 50%, rgba(1,183,242,1) 99%);
        }
    
        .two {
            width: 28px;
            height: 28px;
            border-radius: 50%;
    
            position: absolute;
            right: 294px;
            top: 368px;
    
            filter: blur(2.8px);
        }
    
        .light {
            background: linear-gradient(25deg, rgba(89,114,167,1) 0%, rgba(129,167,190,1) 50%, rgba(78,100,145,1) 99%);
        }
    
    }
    
    .highlights {
        position: relative;
        z-index: -2;
    
        .middle {
            position: absolute;
            width: 523px;
            height: 282px;
    
            top: 0;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
    
            border-radius: 150px;
        }
    
        .light {
            background-color: rgba(217, 217, 217, 0.15);
            filter: blur(71px);
        }
    
        .left {
            position: absolute;
            left: -302px;
            top: 127px;
            width: 494px;
            height: 494px;
            border-radius: 402px;
        }
    
        .right {
            position: absolute;
            right: -302px;
            top: 685px;
            width: 494px;
            height: 494px;
            border-radius: 402px;
        }
        
        .blue {
            background-color: rgba(2, 157, 208, 0.36);
            filter: blur(80px);    
        }
    }
    
    .hero {
        z-index: 1;
        .header {
            @include fonts.text-6xl();
            text-transform: uppercase;
            margin-bottom: 16px;
            font-weight: 600;
            text-shadow: -4px -4px rgba(255, 255, 255, 0.5);
    
            span {
                text-shadow: -4px -4px colors.$brandLightColor;
            }
        }
    
        .sub-header {
            margin-bottom: 38px;
        }
        
        .button {
            background-color: colors.$brandLightColor;
            color: white;
            border: 2px solid colors.$brandLightColor;
            border-radius: 8px;
            width: 123px;
            height: 31px;
            transition: 0.3s;
    
            &:hover {
                background-color: #005977;
                border: 2px solid #005977;
            }
        }
    
        .collage {
            margin-top: 69px;
    
            .collage-highlight {
                position: absolute;
                width: 1168px;
                height: 282px;
                top: 615px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                border-radius: 150px;
                background-color: rgba(217, 217, 217, 0.15);
                filter: blur(60px);
                z-index: -1;
            }
    
            img {
                object-fit: cover; 
                border-radius: 24px;
                width: 248px;
                height: 248px;
    
                margin: 0 17.5px;
    
                &:nth-child(odd) {
                    margin-bottom: 30px;
                }
    
                &:nth-child(even) {
                    margin-top: 30px;
                }
            }
        }
    }
}

#about {
    margin-top: 216px;
    padding-top: 130px;

    .about {
        .radials {
            position: relative;
            z-index: -1;
    
            .one {
                width: 45px;
                height: 45px;
                border-radius: 50%;
    
                position: absolute;
                left: 92px;
                top: 202px;
    
                filter: blur(2.8px);
            }
    
            .four {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                position: absolute;
                right: 225px;
                top: 940px;
            }
    
            .blue {
                background: linear-gradient(342deg, rgba(2,67,89,1) 0%, rgba(2,106,139,1) 50%, rgba(1,183,242,1) 99%);
            }
    
            .two {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                position: absolute;
                right: 165px;
                top: 421px;
    
                filter: blur(2.8px);
            }
    
            .three {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                position: absolute;
                left: 228px;
                top: 909px;
            }
    
            .light {
                background: linear-gradient(25deg, rgba(89,114,167,1) 0%, rgba(129,167,190,1) 50%, rgba(78,100,145,1) 99%);
            }
        }
    
        .highlights {
            position: relative;
            z-index: -2;
        
            .top {
                position: absolute;
                width: 494px;
                height: 494px;
                border-radius: 402px;
    
                top: 192px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
            }
        
            .bottom {
                position: absolute;
                width: 494px;
                height: 494px;
                border-radius: 402px;
    
                
    
                top: 496px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
            }
            
            .blue {
                background-color: rgba(2, 157, 208, 0.5);
                filter: blur(80px);    
            }
        }
    
        .sub-header {
            color: #959595;
    
            span {
                @include fonts.text-xs();
                color: colors.$brandLightColor;
            }
        }
    
        img {
            margin-top: 124px;
            margin-bottom: 200px;
            width: 935px;
            height: 606px;
            border-radius: 29px;
            filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.57));
        }
    }
}

#contact {
    display: flex;
    justify-content: space-around;
    margin: 25px 120px;
    padding: 160px 25px 100px 25px;

    @include mixins.basicForm;

    .left {
        width: 500px;
        text-align: left;
        margin: 0;
    }

    .right {
        width: 500px;
        text-align: justify;
        margin: 20px 20px 100px 100px;
    
        .highlights {
            position: relative;
            z-index: -2;
        
            .top {
                position: absolute;
                width: 350px;
                height: 350px;
                border-radius: 402px;
                top: -39px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
            
            .blue {
                background-color: rgba(2, 157, 208, 0.5);
                filter: blur(80px);    
            }
        }

        .header {
            @include fonts.text-5xl();
            font-weight: 600;
            text-shadow: 5px 5px 17px #000000;
        }

        .sub-header {
            text-shadow: 5px 5px 17px #000000;
        }
    }
}

footer {
    padding: 80px;

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        margin: 0 auto;
        padding: 80px 80px 60px;
        width: 80%;

        background-color: colors.$navbarColor;
        border-radius: 29px;
        color: #ffffff;

        .footer-item {
            width: 285px;
            img {
                height: 50px;
            }

            .social-media-icons {
                display: flex;
                justify-content: center;
                gap: 25px;
                font-size: fonts.$icons-large;

                a {
                    color: #ffffff;
                    text-decoration: none;
                    i {
                        transition: 0.3s;
                        cursor: pointer;
                        
                        &:hover {
                            color: colors.$brandLightColor;
                        }
                    }
                }
            }
        }
    }
}