<div class="container form-container">
  <div class="title">
    <div class="header">
      Welcome to  memoflick
    </div>
    <div class="subheader">
      Create your account
    </div>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group mb-4">
      <label>Name</label>
      <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp"
              formControlName="name" required
              [ngClass]="{'invalid-field': formGroup.controls['name'].invalid && (formGroup.controls['name'].touched || submitted)}">
      <div *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched || submitted)" class="error"> 
        <div *ngIf="formGroup.controls['name'].errors?.['required']">
          This field is required
        </div>
        <div *ngIf="formGroup.controls['name'].errors?.['maxlength']">
          This field can have maximum 20 characters
        </div>
        <div *ngIf="nameError" class="error">
          {{ nameError }}
        </div>
      </div>
    </div>
    <div class="form-group mb-4">
      <label>Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              formControlName="email" required
              [ngClass]="{'invalid-field': formGroup.controls['email'].invalid && (formGroup.controls['email'].touched || submitted)}">
      <div *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched || submitted)" class="error"> 
        <div *ngIf="formGroup.controls['email'].errors?.['required']">
          This field is required
        </div>
        <div *ngIf="formGroup.controls['email'].errors?.['pattern']">
          Wrong pattern for email
        </div>
        <div *ngIf="emailError" class="error">
          {{ emailError }}
        </div>
      </div>
    </div>
    <div class="form-group mb-4">
      <label>Email confirmation</label>
      <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp"
              formControlName="confirmationEmail" required
              [ngClass]="{'invalid-field': formGroup.controls['confirmationEmail'].invalid && (formGroup.controls['confirmationEmail'].touched || submitted)}">
      <div *ngIf="formGroup.controls['confirmationEmail'].invalid && (formGroup.controls['confirmationEmail'].dirty || formGroup.controls['confirmationEmail'].touched || submitted)" class="error"> 
        <div *ngIf="formGroup.controls['confirmationEmail'].errors?.['required']">
          This field is required
        </div>
        <div *ngIf="confirmationEmailError" class="error">
          {{ confirmationEmailError }}
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label>Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"
              formControlName="password" required
              [ngClass]="{'invalid-field': formGroup.controls['password'].invalid && (formGroup.controls['password'].touched || submitted)}">
      <div *ngIf="formGroup.controls['password'].invalid && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched || submitted)" class="error"> 
        <div *ngIf="formGroup.controls['password'].errors?.['required']">
          This field is required
        </div>
        <div *ngIf="formGroup.controls['password'].errors?.['minlength']">
          This field can have minimum 8 characters
        </div>
        <div *ngIf="formGroup.controls['password'].errors?.['maxlength']">
          This field can have maximum 20 characters
        </div>
        <div *ngIf="formGroup.controls['password'].errors?.['pattern']">
          Wrong pattern for password
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label>Password confirmation</label>
      <input type="password" class="form-control" id="exampleInputPassword2"
              formControlName="confirmationPassword" required
              [ngClass]="{'invalid-field': formGroup.controls['confirmationPassword'].invalid && (formGroup.controls['confirmationPassword'].touched || submitted)}">
      <div *ngIf="formGroup.controls['confirmationPassword'].invalid && (formGroup.controls['confirmationPassword'].dirty || formGroup.controls['confirmationPassword'].touched || submitted)" class="error"> 
        <div *ngIf="formGroup.controls['confirmationPassword'].errors?.['required']">
          This field is required
        </div>
        <div *ngIf="confirmationPasswordError" class="error">
          {{ confirmationPasswordError }}
        </div>
      </div>
    </div>
    <div class="container mb-3">
      <div class="row">
          <div class="col g-0 m-1">
              <button class="btn form-btn" type="submit">Sign up</button>
          </div>
      </div>
      <div class="form-link">
        Already have an account? <span [routerLink]="['/login']">Sign in</span>
      </div>
    </div>
</form>
</div>