@use "mixins";
@use "colors";
@use "fonts";

:host {
  height: 100%;
  display: flex;
  box-sizing: content-box;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 32px 0;

    overflow-x: clip;

    .radials {
      position: relative;
      z-index: -1;

      .three {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        position: absolute;
        right: 250px;
        top: 550px;

        filter: blur(1.5px);
      }

      .six {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        position: absolute;
        left: 330px;
        top: 230px;
      }

      .blue {
        background: linear-gradient(
          342deg,
          rgba(2, 67, 89, 1) 0%,
          rgba(2, 106, 139, 1) 50%,
          rgba(1, 183, 242, 1) 99%
        );
      }

      .two {
        width: 17px;
        height: 17px;
        border-radius: 50%;

        position: absolute;
        right: 350px;
        top: 350px;
      }

      .five {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        position: absolute;
        left: 290px;
        bottom: 150px;

        filter: blur(2px);
      }

      .light-green {
        background: radial-gradient(
          80.09% 80.09% at 22.41% 9.56%,
          #5889a7 0%,
          #95b6c9 48.94%,
          #e9f0f5 100%
        );
      }

      .one {
        width: 30px;
        height: 30px;
        border-radius: 50%;

        position: absolute;
        left: 150px;
        top: 420px;
      }

      .four {
        width: 14px;
        height: 14px;
        border-radius: 50%;

        position: absolute;
        right: 200px;
        top: 50px;

        filter: blur(2px);
      }

      .light-blue {
        background: linear-gradient(
          25deg,
          rgba(89, 114, 167, 1) 0%,
          rgba(129, 167, 190, 1) 50%,
          rgba(78, 100, 145, 1) 99%
        );
      }
    }

    .highlights {
      position: relative;
      z-index: -2;

      .top {
        position: absolute;
        width: 520px;
        height: 250px;

        bottom: -190px;
        left: 200px;

        border-radius: 50%;
        transition: 300ms;
      }

      .bottom {
        position: absolute;
        width: 250px;
        height: 250px;

        right: 210px;
        top: 280px;

        border-radius: 50%;
        transition: 300ms;
      }

      .blue {
        background-color: rgba(2, 157, 208, 0.36);
        filter: blur(80px);
      }
    }

    .form-wrapper {
      width: calc(100% - 128px);
      max-width: 500px;

      .invalid-field {
        border: 1px solid red !important;
      }

      .error {
        @include fonts.text-xs;
        margin-top: 0.5rem;
        color: #a94442;
      }

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 32px;

        img {
          height: 43px;
          margin-bottom: 32px;
        }

        .header {
          @include fonts.text-xl();
          font-weight: 600;
          margin-bottom: 8px;
        }

        .subheader {
          @include fonts.text-base();
          color: colors.$brandLightColor;
        }
      }

      input[type="password"],
      input[type="email"],
      input[type="text"] {
        width: 100%;
        border: 2px solid #5b5966;
        border-radius: 10px;
      }

      input[type="checkbox"] {
        border: 2px solid white;
        cursor: pointer;
      }

      input {
        background-color: colors.$backgroundMasterColor;
        color: white;
        transition: 0.3s;
        box-sizing: border-box;

        &:focus {
          background-color: colors.$backgroundMasterColor;
          border: 2px solid colors.$brandLightColor;
          color: white;
          box-shadow: none;
        }
      }

      label {
        color: #5b5966;
        cursor: pointer;
      }

      .others {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 35px;

        .checkbox {
          label {
            color: #ffffff;
          }
        }

        a {
          text-decoration: none;
          color: colors.$brandBlueColor;
          transition: 0.3s;
          font-weight: 500;

          &:hover {
            color: colors.$brandLightColor;
          }
        }
      }

      .form-btn {
        width: 100%;
        color: white;
        background-color: colors.$brandBlueColor;
        border: 2px solid colors.$brandBlueColor;
        border-radius: 8px;
        transition: 0.3s;

        &:hover {
          background-color: colors.$brandLightColor;
          border: 2px solid colors.$brandLightColor;
        }
      }

      .form-link {
        text-align: center;
        margin-top: 20px;

        span {
          color: colors.$brandBlueColor;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            color: colors.$brandLightColor;
          }
        }
      }
    }
  }

  form-brand-background {
    display: none;
  }
}

@include mixins.breakpoints(breakpoint-s) {
  :host {
    .form-container .form-wrapper .title {
      .header {
        @include fonts.text-2xl();
      }

      .subheader {
        @include fonts.text-l();
      }
    }
  }
}

@include mixins.breakpoints(breakpoint-m) {
  :host {
    box-sizing: border-box;

    .form-container .form-wrapper .title {
      .header {
        @include fonts.text-4xl();
      }

      .subheader {
        @include fonts.text-xl();
      }
    }

    form-brand-background {
      display: block;
    }
  }
}
